body {
	font-family: Arial, Helvetica, sans-serif;
}

.app {
	width: 1024px;
	margin: 0 auto;

	padding: 10px;

	display: flex;

	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.app .table {
	padding: 10px 0;
}

.app-main {
	padding: 10px 0;
	padding-right: 10px;
	flex: 1;
}

aside {
	padding: 10px;
	flex: 1;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}

.match-row {
	display: flex;
	align-items: center;
	/* width: 100%; */
	text-decoration: none;
	color: #000;
	font-weight: 600;
	padding: 10px;
	transition: background color .3s ease-out;
}

.match-row-information {
	width: 100%;
	display: flex;
	align-items: center;
}

.teams {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.match-row .teams .home,
.match-row .teams .away {
	display: flex;
	justify-content: space-between;
}

.match-row:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.app .match-row:hover {
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	cursor: pointer;
}

.home-team-information,
.away-team-information {
	display: flex;
	justify-content: space-between;
}

/* Team Componnet */
.header h3 {
	text-align: center;
}

.team-information {
	display: flex;
	/* flex-direction: column; */
	align-items: center;
	justify-content: center;
}

.team-logo-container {
	padding: 10px;
	/* width: 200px; */
	/* height: 200px; */
	/* background-color: red; */
}

.team-logo-container img {
	width: 100%;
	height: 100%;
}

/* Next match */
.next-match {
	display: flex;
	flex-direction: column;

	padding: 10px;

	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

h3.title-section {
	margin-top: 5px;
	text-align: left;
	text-transform: uppercase;
}

.next-match-league-name,
.next-match-league-date {
	text-align: center;
	margin: 0;
}

.next-match-league-date .sub-title {
	font-size: 12px;
	font-style: italic;
}

.upcoming-match-hour {
	font-size: 30px;
}

.match-time {
	flex: 1;
}

.upcoming-match-teams {
	flex: 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	margin-top: 20px;
}

.upcoming-match-teams .upcoming-match-home-team,
.upcoming-match-away-team {
	width: 200px;
	display: flex;
	/* justify-content: center; */
	flex-direction: column-reverse;
	align-items: center;
}

.upcoming-match-teams .upcoming-match-logo-container {
	width: 75px;
	height: 75px;
}

.upcoming-match-teams .upcoming-match-logo-container img {
	width: 75px;
	height: 75px;
}

.last-matches {
	display: flex;
	flex-direction: column;

	padding: 10px;
	margin-top: 10px;

	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

.last-matches li {
	padding: 5px 0;
	display: flex;
	justify-content: space-between;
	/* justify-content: center; */
}

.last-matches li .last-matches-teams{
	display: flex;
	/* justify-content: center; */
}

.winner {
	font-weight: 600;
}

.live {
	border: 3px solid green;
}

.hide {
	display: none;
}