* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #fff;
}

.App {
	width: 1440px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	background-color: #fff;
}

.aside-navbar {
	width: 250px;
	background-color: #fff;
}

.aside-soccer-news {
	width: 250px;
	background-color: #fff;
}